[v-cloak] {
	display:none
}
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {font-family: 'Roboto', sans-serif;font-size: 14px;font-weight: 400;margin: 0;padding: 0;color:#fff;text-shadow: 0 0 0 #fff}
ul, li {margin: 0;padding: 0;list-style: none}
:focus {outline: none}
#bg {background: url(../images/bg.jpg) no-repeat;background-size: cover;filter: blur(5px);-webkit-filter: blur(5px);
position: fixed;top:0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;z-index: -1;}
img {max-width: 100%;max-height: 100%}
.grid {max-width: 900px;margin: 3% auto;}
.grid .item {width: 225px;height: 60px;background: rgba(255, 255, 255, 0.4);display: flex;align-items: center;margin-bottom: 2px;cursor: move}
.grid .item:hover {background: rgba(255, 255, 255, 0.6);}
.grid .img {width:60px;height:60px;min-width:60px;min-height:60px;background: rgba(255, 255, 255, 0.1)}
.grid span {display: inline-block;}
.grid .name, .grid .piece {padding: 0 15px}
.grid .name {min-width: 80px}
.drag-wrapper {display:grid;grid-template-columns:225px 245px 430px}
.drag-wrapper>ul + ul {border-left: 1px solid #fff;padding-left: 10px;margin-left: 10px;}
#fillingBag {text-align: center}
.fillingBag {width: 122px;height: 99px;margin: 0 auto;position: relative;}
#fill {position: absolute;bottom: 0;background: rgba(255, 255, 255, 0.5);width:calc(100% - 8px);left: 4px;max-height: 100%}
#counter {font-size: 36px;height: 50px;line-height: 50px;padding: 0 20px;background:rgba(0, 0, 0, 0.9);color: #fff;min-width: 120px;cursor: pointer;
text-align: center;position: fixed;top:0;left: 0;width: 100%}
.tab {position: fixed;width: 100%;height: 100%;text-align: center;background: rgba(0, 0, 0, 0.7);font-size: 40px;display: flex;align-items: center;justify-content: center;top:0;left:0;
z-index: 9999;}

